Neplan/Neplan/Connected Services/NeplanService/NeplanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.ImportExport.XMLList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BCP.Neplan.Web.ImportExport.XMLList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPowerLoadData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowerLoadData" nillable="true" type="tns:PowerLoadData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPowerLoadData" nillable="true" type="tns:ArrayOfPowerLoadData" />
  <xs:complexType name="PowerLoadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionType" type="xs:short" />
      <xs:element minOccurs="0" name="CosPhi" type="xs:double" />
      <xs:element minOccurs="0" name="DomesticUnits" type="xs:short" />
      <xs:element minOccurs="0" name="E" type="xs:double" />
      <xs:element minOccurs="0" name="I" type="xs:double" />
      <xs:element minOccurs="0" name="LfType" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P" type="xs:double" />
      <xs:element minOccurs="0" name="Phase" type="xs:short" />
      <xs:element minOccurs="0" name="Q" type="xs:double" />
      <xs:element minOccurs="0" name="S" type="xs:double" />
      <xs:element minOccurs="0" name="ScalingFactorElementP" type="xs:double" />
      <xs:element minOccurs="0" name="ScalingFactorElementQ" type="xs:double" />
      <xs:element minOccurs="0" name="ScalingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" type="xs:short" />
      <xs:element minOccurs="0" name="VelanderK1" type="xs:double" />
      <xs:element minOccurs="0" name="VelanderK2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowerLoadData" nillable="true" type="tns:PowerLoadData" />
</xs:schema>